
/*mobile*/
@media(max-width: 450px){
    *{
    width: fit-content;
    }

    header {
        padding: 30px 10px 30px 20px;

    }
    
  .carousel-inner {
    width: 95%;
    margin: 0 auto;
  }
   #history .figuras {
        gap: 20px;
        
        figure {
            flex: 0 1 100%;
            min-width: unset;
        }
    }
    #copyright{
        width: 100%;
    }
}

/*computer*/
@media(min-width: 768px){
    #carouselExampleInterval{
    width: 100%;
    border-radius: 20px;
    }

    .carousel-inner{
    width: 70%;             /* 70% da largura do container */
    margin: 0 auto;         /* Centraliza horizontalmente */
    padding: 15px;        
    }

    #part2 {
    display: flex;
    flex-direction: column;
}

#part2 .lado {
    display: flex;
    flex-direction: row-reverse; /* Inverte a ordem para imagem à direita */
    gap: 30px;
    align-items: flex-start;
}

#part2 .lado img {
    width: 50%;
    max-width: 500px;
    border-radius: 20px;
    object-fit: cover;
}


}
